.close
{
    -fx-background-color:  transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #ff3547;
}
.left-form
{
    -fx-background-color: linear-gradient(to bottom, rgb(1, 91, 225), rgb(75, 108, 255), rgb(111, 177, 252));;
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}
.right-form
{
    -fx-background-color: #eee;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
}
.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #a9a9a9;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.text-field:focused {
    -fx-border-color: #4682b4;
    -fx-box-shadow: 0 0 5px #4682b4;
}
.btn {
    -fx-background-color: linear-gradient(to bottom, rgb(20, 118, 255), rgb(79, 158, 255));
    -fx-background-radius: 3px;
    -fx-border-color: #000;
    -fx-border-width: 0.4px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
}

.btn:hover {
    -fx-background-color: linear-gradient(to right, rgb(18, 110, 250), rgb(71, 150, 250));
    -fx-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -fx-cursor: hand;

}
